root {
  --default-font: "Inter", sans-serif;
  --name-font: "Raleway", sans-serif;
  --btn-color: #ab914d;
}

body {
  background-color: black;
}

h1 {
  font-family: var(--name-font);
  color: #ab914d;
}

h3 {
  font-family: var(--default-font);
}

.social-icons {
  color: hotpink;
}

.hero {
  color: white;
  text-align: center;
  padding: 20px;
}

.btn-branding {
  background: #ab914d;
  color: black;
  font-family: var(--default-font);
  padding: 15px 20px;
  font-size: 18px;
}
