root {
  --default-font: "Inter", sans-serif;
  --section-font: "Raleway", sans-serif;
  --section-title: #ab914d;
  --accent-color: #83afa6;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-family: var(--default-font);
  color: #ab914d;
  font-size: 64px;
}

h3 {
  font-family: var(--default-font);
}

.shari-photo {
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
}

.hero {
  color: white;
  text-align: center;
  padding: 20px;
}

.btn-branding {
  background: #ab914d;
  color: black;
  font-family: var(--default-font);
  padding: 15px 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.portfolio-row {
  text-align: center;
}

.portfolio-cover,
.about-cover,
.contact-cover,
.project-cover {
  max-width: 100%;
  border-radius: 40px;
}

.bio-text,
.contact-text {
  font-family: var(--default-font);
  font-size: 20px;
}

.tech-emoji {
  font-size: 48px;
}

.portfolio-category {
  font-family: var(--default-font);
  color: #83afa6;
  text-transform: uppercase;
}

.section-titles {
  color: #ab914d;
  text-transform: uppercase;
  font-family: var(--section-font);
  font-size: 36px;
}

.project-descriptions {
  font-family: var(--default-font);
  text-align: center;
}

@media (max-width: 576px) {
  .project-cover {
    display: none;
  }
  .project-link {
    display: block;
  }
  .section-titles {
    text-align: center;
  }
  .section-descriptions {
    text-align: center;
  }
  .contact-text {
    text-align: center;
  }
  .portfolio-category {
    text-align: center;
  }
  .btn-resize {
    display: block;
  }
}
