root {
  --barlow-font: "Barlow", sans-serif;
  --inter-font: "Inter", sans-serif;
  --raleway-font: "Raleway", sans-serif;
  --section-title: #ab914d;
  --accent-color: #83afa6;
  --grey-accent-color: #ececec;
}

body {
  background-color: black;
  color: white;
}

.navbar-brand {
  color: #ab914d !important;
}

.site-navigation {
  background-color: black !important;
  font-size: 18px;
}

.active {
  color: #83afa6 !important;
}

.page-title {
  font-size: 70px;
  text-transform: uppercase;
  font-family: var(--inter-font);
  font-weight: 200;
  color: #ab914d;
}

.subheading-text {
  font-size: 48px;
  font-family: var(--raleway-font);
  font-weight: 100;
  color: #83afa6;
}

.button-text {
  background: #ab914d;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--inter-font);
  color: #000000;
}

.body-text {
  font-size: 20px;
  font-weight: 300;
  font-family: var(--barlow-font);
  color: #ececec;
}

.subsection-title {
  font-size: 46px;
  font-weight: 100;
  color: #83afa6;
  font-family: var(--raleway-font);
}

.portfolio-category {
  font-family: var(--barlow-font);
  font-weight: 100;
  font-size: 32px;
  color: #ececec;
  text-transform: uppercase;
  margin: 20px auto;
}

.project-descriptions {
  text-align: center;
}

.shari-photo {
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
}

.hero {
  color: white;
  text-align: center;
  padding: 20px;
}

.portfolio-row {
  text-align: center;
}

.portfolio-cover,
.about-cover,
.contact-cover,
.project-cover {
  max-width: 100%;
  border-radius: 40px;
}

.tech-emoji {
  font-size: 48px;
}

@media (max-width: 576px) {
  .project-cover {
    display: none;
  }
  .project-link {
    display: block;
  }
  .subsection-title {
    text-align: center;
  }
  .section-descriptions {
    text-align: center;
  }
  .body-text {
    text-align: center;
  }
  .portfolio-category {
    text-align: center;
    margin: 10px auto;
  }
  .btn-resize {
    display: block;
  }
}
